@mixin font ($size, $weight: 500, $transform: none, $align: left, $color: $text-color) {
    font-size: $size;
    font-weight: $weight;
    text-transform: $transform;
    text-align: $align;
    color: $color;
}

@mixin circle {
    &:before {
        position: absolute;
        z-index: -1;
        top: -25%;
        left: 0;
        content: '';
        width: 36px;
        height: 36px;
        background-color: $main-color;
        border-radius: 100%;
    }
}