@import 'libs/bootstrap-reboot.min';
@import 'libs/fonts';

@import 'base/variables';
@import 'base/mixins';

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
}
h2 {
    margin: 0;
}
h3 {
    margin: 0;
}
h4 {
    margin: 0;
}
h5 {
    margin: 0;
}
p {
    margin: 0;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

@media (max-width: 1440px) {
    .container {
        max-width: 1140px;
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 10px;
    }
}

@import 'blocks/title';
@import 'blocks/buttons';
@import 'blocks/promo';
@import 'blocks/menu';
@import 'blocks/about';
@import 'blocks/use';
@import 'blocks/projects';
@import 'blocks/contact';
@import 'blocks/policy';
@import 'blocks/media';