@import 'libs/bootstrap-reboot.min';
@import "http://fonts.fontstorage.com/import/lato.css";
@import 'blocks/templates';

* {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
}
h2 {
    margin: 0;
}
h3 {
    margin: 0;
}
h4 {
    margin: 0;
}
h5 {
    margin: 0;
}
p {
    margin: 0;
}

.container {
    width: 1300px;
    margin: 0 auto;
    padding: 0 15px;
}

@media (max-width: 1440px) {
    .container {
        max-width: 1060px;
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 850px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 700px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0;
    }
}

@import 'blocks/main';
@import 'blocks/modal';
@import 'blocks/education';
@import 'blocks/skills';
@import 'blocks/social';
@import 'blocks/contact';
@import 'blocks/course';
@import 'blocks/project';
@import 'blocks/policy';