.policy {
    background-color: #eee;
    padding: 50px 0;
    &__wrapper {
        margin: 0 auto;
        padding: 10px 10px;
        width: 70%;
        background-color: #fff;
        border-radius: 10px;
        
    }
    &__border {
        border: 3px solid $main-color;
        padding: 15px 15px;
    }
    h1 {
        font-size: 14px;
        font-weight: 700;
        margin-bottom: 20px;
    }
    h2 {
        font-size: 14px;
    }
    p {
        margin: 10px 0 10px 0;
        padding: 0px 0px 0 14px;
        line-height: 23px;
        font-size: 13px;
    }
}
