.promo {
    position: relative;
    padding-top: 205px;
    min-height: 100vh;
    background: url('../img/bg_main.jpg') no-repeat 50%/cover;
    &__title {
        margin-top: 10px;
        color: #f5f3f3;
        z-index: 1;
    }
    &__subtitle {
        color: #f5f3f3;
        padding-left: 10px;
        z-index: 1;
        position: relative;
        @include circle;
    }
    &__buttons {
        margin-top: 25px;
        width: 270px;
        display: flex;
        justify-content: space-between;
    }
    &__link {
        color: #f5f3f3;
        background-color: transparent;
        box-shadow: none;
        transition: all .3s;
        &:nth-child(2) {
            background-color: $main-color;
        }
        &:hover {
            background-color: $main-color;
            color: black;
        }
    }
        
    &__side-panel {
        padding-top: 15px;
        position: fixed;
        top: 246px;
        left: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 370px;
        z-index: 3;
        font-size: 16px;
        font-weight: 500;
        background-color: #f5f3f3;
        &:before {
            z-index: -1;
            position: absolute;
            transform: skewY(30deg);
            top: -10px;
            width: 25px;
            height: 20px;
            content: '';
            background-color: #f5f3f3;
        }
        &:after {
            z-index: -1;
            position: absolute;
            transform: skewY(30deg);
            bottom: -10px;
            width: 25px;
            height: 20px;
            content: '';
            background-color: #f5f3f3;
        }
    }
    &__text {
        height: 150px;
        width: 25px;
        &-inner {
            display: block;
            transform: rotate(-90deg) translate(-30%, -260%);
            width: 150px;
        }
    }
    &__divider {
        width: 2px;
        height: 70px;
        background-color: $text-color;
    }
    &__icon {
        color: $icon-color;
        font-size: 20px;
        transform: rotate(-90deg);
        border-radius: 100%;
        transition: all .3s;
        &:hover {
            text-decoration: none;
            &:nth-child(2) {
                background-color: #f5f3f3;
                color: #c72a6f;
            }
            &:nth-child(3) {
                background-color: #f5f3f3;
                color: #2aa1da;
                
            }
        }
    }
}
