.title {
    @include font (50px, 700);
    line-height: 60px;
    &_fs36 {
        font-size: 36px;
    }
    &_fs20 {
        font-size: 20px;
        line-height: 30px;
    }
}
.subtitle {
    @include font (18px, 700);
    line-height: 24px;
    &_fs16 {
        font-size: 16px;
    }
    &_fs14 {
        font-size: 14px;
        line-height: 21px;
    }
}
.divider {
    width: 60px;
    height: 3px;
    background-color: $main-color;
}